<div class="nav nav-pills">
    <li><a class="btn btn-primary" href="/">Home</a> </li>
    <li><a class="btn btn-primary" href="/wallet">Wallet</a> </li>
    <li><a class="btn btn-primary" href="/contact">Contact</a> </li>
    <li><a class="btn btn-primary" href="{{ url("fos_user_security_logout") }}">Logout</a> </li>
</div>