<div class="nav nav-pills">
    <li><a class="btn btn-primary" href="/">Home</a> </li>
    <li><a class="btn btn-primary" href="/contact">Contact</a> </li>
    <li><a class="btn btn-primary" href="{{ url("fos_user_security_login") }}">Login</a> </li>
    <li><a class="btn btn-primary" href="{{ url("fos_user_registration_register") }}">Registration</a> </li>
</div>