{% extends 'base.html.twig' %}
{% block body %}
    <h2>Contact</h2>
    <table>
        <tr>
            <td>
                Name
            </td>
            <td>
                Adrian Raczkowski
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                adrian.raczkowski@gmail.com
            </td>
        </tr>
    </table>
{% endblock %}